<!-- banner -->
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="~/Home/Index">Home</a>
                    <i>|</i>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<!--// header_top -->
<!-- top Products -->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">

        <div class="inner-sec-shop px-lg-4 px-3">
            <div class="about-content py-lg-5 py-3">
                <div class="row">

                    <div class="col-lg-6 p-0">
                        <img src="~/Content/images/ha.jpg" alt="Goggles" class="img-fluid">
                    </div>
                    <div class="col-lg-6 about-info">
                        <h3 class="tittle-w3layouts text-left mb-lg-5 mb-3">About Us</h3>
                        <p class="my-xl-4 my-lg-3 my-md-4 my-3">
                            L'appetit hân hạnh mang đến cho quý khách những chiếc bánh, những thức uống thơm ngon và hấp dẫn. Chúng tôi cam kết 
                            các nguyên liệu dùng cho việc làm bánh cũng như pha chế là hoàn toàn chất lượng. 
                            <br />
                            Chân thành cảm ơn sự tin tưởng và ủng hộ của quý khách!
                        </p>

                        <a href="~/Home/Shop" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>

                    </div>
                </div>
            </div>

            <!-- /testimonials -->
            <div class="testimonials py-lg-4 py-3 mt-4">
                <div class="testimonials-inner py-lg-4 py-3">
                    <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Khách Hàng Nói Gì?</h3>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="testimonials_grid text-center">
                                    <h3>
                                        An Nguyễn
                                        <span>Customer</span>
                                    </h3>
                                    <label>Quận 1</label>
                                    <p>
                                        "Dịch vụ tuyệt vời".
                                        Tôi ấn tượng bởi những dịch vụ và đội ngũ nhân viên tuyệt vời của các bạn. Cảm ơn vì các sản phẩm và dịch vụ!
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonials_grid text-center">
                                    <h3>
                                        Ngọc Trần
                                        <span>Customer</span>
                                    </h3>
                                    <label>Quận 3</label>
                                    <p>
                                        "Trải nghiệm tuyệt vời".
                                        Hương vị bánh hấp dẫn với ly coffee tuyệt nhất. Không thể quên hương vị từ lúa mạch và phô mai.
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonials_grid text-center">
                                    <h3>
                                        Ryan
                                        <span>Customer</span>
                                    </h3>
                                    <label>United States</label>
                                    <p>
                                        "Such Tasty Desserts".
                                        Thật tuyệt vì có nhiều món bánh thật hấp dẫn. Bạn tôi rất thích món bánh Chesse. Chắc chắn sẽ đặt hàng lần nữa.
                                    </p>
                                </div>
                            </div>
                            <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="fas fa-long-arrow-alt-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /grids -->
            <div class="bottom-sub-grid-content py-lg-5 py-3">
                <div class="row">
                    <div class="col-lg-4 bottom-sub-grid text-center">
                        <div class="bt-icon">

                            <span class="far fa-hand-paper"></span>
                        </div>

                        <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Đảm Bảo Hài Lòng</h4>
                        <p>Các sản phẩm đều được làm sau khi order. An toàn vệ sinh tuyệt đối</p>
                        <p>
                            <a href="~/Home/Shop" class="btn btn-sm animated-button gibson-three mt-4">Đặt Ngay</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4 bottom-sub-grid text-center">
                        <div class="bt-icon">
                            <span class="fas fa-rocket"></span>
                        </div>

                        <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Giao Hàng Nhanh</h4>
                        <p>Hỗ trợ khách hàng hết mình. Giao hàng nhanh nhất có thể.</p>
                        <p>
                            <a href="~/Home/Shop" class="btn btn-sm animated-button gibson-three mt-4">Đặt Ngay</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4 bottom-sub-grid text-center">
                        <div class="bt-icon">
                            <span class="far fa-sun"></span>
                        </div>

                        <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Nhân Viên Phục Vụ</h4>
                        <p>Thao tác nhanh lẹ. Kiểm tra Order liên tục </p>
                        <p>
                            <a href="~/Home/Shop" class="btn btn-sm animated-button gibson-three mt-4">Đặt Ngay</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            <!-- //grids -->
            <!--/meddle-->
            <div class="row">
                <div class="col-md-12 middle-slider my-4">
                    <div class="middle-text-info ">

                        <h3 class="tittle-w3layouts two text-center my-lg-4 mt-3">Summer Flash sale</h3>
                        <div class="simply-countdown-custom" id="simply-countdown-custom"></div>

                    </div>
                </div>
            </div>
            <!--//meddle-->
            <!-- /clients-sec -->
            <div class="testimonials p-lg-5 p-3 mt-4">
                <div class="row last-section">
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-gift"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>An Toàn Thực Phẩm</h3>
                            <p>Sản phẩm mới, thơm ngon, hấp dẫn, bảo quản kỹ lưỡng</p>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Nguyên Liệu Chất Lượng</h3>
                            <p>Được chọn lọc, kiểm tra để mang tới người dùng sản phẩm ngon</p>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Thanh Toán Khi Giao</h3>
                            <p>Sử dụng các dịch vụ hỗ trợ tốt nhất cho khách hàng</p>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Giao Hàng Nhanh</h3>
                            <p>Chỉ cần đặt là sẽ có hàng, thanh toán dễ dàng</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //clients-sec -->
        </div>
    </div>
</section>


